@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local(""), url("../fonts/barlow-v5-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v5-latin-regular.woff") format("woff");
}
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: local(""), url("../fonts/barlow-v5-latin-700.woff2") format("woff2"), url("../fonts/barlow-v5-latin-700.woff") format("woff");
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%}
body {
    margin: 0;
}
main {
    display: block;
}
h1 {
    font-size: 2em;
    margin: .67em 0;
}
hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
a {
    background-color: transparent;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}
b, strong {
    font-weight: bolder;
}
code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
small {
    font-size: 80%}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -.25em;
}
sup {
    top: -.5em;
}
img {
    border-style: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button, input {
    overflow: visible;
}
button, select {
    text-transform: none;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    padding: .35em .75em .625em;
}
legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
progress {
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type=checkbox], [type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto;
}
[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
details {
    display: block;
}
summary {
    display: list-item;
}
template {
    display: none;
}
[hidden] {
    display: none;
}
*, ::before, ::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html {
    height: 100%}
body {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    font-family: 'Barlow',  'Arial',  sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
    background-color: #FAFAFA;
}
main {
    padding-top: 45px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
img {
    vertical-align: middle;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
::-moz-selection {
    color: #A90000;
    background-color: skyblue;
}
::selection {
    color: #A90000;
    background-color: skyblue;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: skyblue;
    -webkit-box-shadow: 0 2px 2px 0 #5FB4A2;
    box-shadow: 0 2px 2px 0 #5FB4A2;
}
.header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.menu-list {
    display: none;
    border: none;
    background-color: transparent;
}
.nav-list__link {
    display: block;
    padding: 16px;
    font-size: 12px;
    color: #33323D;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}
.nav-list__link:hover {
    color: #A90000;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.link--active {
    color: #A90000;
}
@media only screen and (max-width: 800px) {
    .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.nav {
    display: none;
}
.header--open .nav {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 15px;
    padding: 40px;
    background-color: skyblue;
    -webkit-box-shadow: -2px 0 2px 0 #5FB4A2;
    box-shadow: -2px 0 2px 0 #5FB4A2;
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}
.menu-list {
    z-index: 101;
    display: block;
}
.nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.nav-list__item+.nav-list__item {
    margin-top: 25px;
}
.nav-list__link {
    padding: 0;
}
.menu-list__exit {
    display: none;
}
.header--open .menu-list__exit {
    display: block;
}
.header--open .menu-list__hamburger {
    display: none;
}
}.hero-inner {
    padding: 25px;
    padding-bottom: 300px;
    background-image: url("../images/frontend_webdeveloper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.main-heading {
    margin: 0;
    padding: 0;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
}
.hero__heading {
    color: #FAFAFA;
    margin-bottom: 25px;
}
.main-desc {
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 1.2;
    font-weight: normal;
}
.hero__desc {
    color: #FAFAFA;
}
@media only screen and (max-width: 768px) {
    .hero-inner {
    padding-bottom: 250px;
}
.hero__heading {
    font-size: 35px;
    line-height: 35px;
}
}@media only screen and (max-width: 475px) {
    .hero-inner {
    padding-bottom: 200px;
}
.hero__heading {
    font-size: 30px;
    line-height: 30px;
}
.hero__desc {
    font-size: 20px;
}
}.about {
    padding: 50px 0;
}
.about .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.about-info {
    width: 100%;
    max-width: 700px;
}
.about-info__heading {
    margin-bottom: 30px;
    color: #203A4C;
}
.about-info__desc {
    margin-bottom: 15px;
    color: #33323D;
}
.about__img {
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 15px;
    margin-right: 30px;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.about__img:hover {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-box-shadow: rgba(0, 0, 252, 0.25) 0px 50px 100px -20px, rgba(255, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    box-shadow: rgba(0, 0, 252, 0.25) 0px 50px 100px -20px, rgba(255, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.player__link {
    text-decoration: none;
    color: #33323D;
}
@media only screen and (max-width: 800px) {
    .about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.about__img {
    margin: 0;
    margin-bottom: 50px;
}
.about-info__heading {
    text-align: center;
    font-size: 35px;
    white-space: nowrap;
}
.about-info__desc {
    font-size: 18px;
    text-align: center;
}
}@media only screen and (max-width: 500px) {
    .about__img {
    width: 310px;
    height: 310px;
}
.about-info__heading {
    font-size: 25px;
}
.about-info__desc {
    font-size: 12px;
}
}.skills .container {
    padding: 50px 0;
}
.skills__heading {
    margin-bottom: 30px;
    color: #203A4C;
    text-align: center;
}
.skills-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.skills-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.skills-item__heading {
    font-size: 28px;
    color: #33323D;
}
.skills-list__item:nth-child(1)::before {
    content: "";
    display: block;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    background-image: url("../images/icon-html.png");
    background-size: 220px;
    background-position: center;
    border-radius: 50%;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.skills-list__item:nth-child(2)::before {
    content: "";
    display: block;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    background-image: url("../images/icon-css.png");
    background-size: 220px;
    background-position: center;
    border-radius: 50%;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.skills-list__item:nth-child(3)::before {
    content: "";
    display: block;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    background-image: url("../images/icon-js.png");
    background-size: 200px;
    border-radius: 50%;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.skills-sublist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.skills-item__heading {
    margin-bottom: 15px;
}
.skills-sublist__item:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    content: url("../../images/star-full.png");
    width: 25px;
    height: 25px;
}
@media only screen and (max-width: 666px) {
    .skills-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.skills-list__item+.skills-list__item {
    margin-top: 20px;
}
.skills-list__item:nth-child(1)::before {
    width: 150px;
    height: 150px;
    background-size: 150px;
}
.skills-list__item:nth-child(2)::before {
    width: 150px;
    height: 150px;
    background-size: 150px;
}
.skills-list__item:nth-child(3)::before {
    width: 150px;
    height: 150px;
    background-size: 150px;
}
}.footer {
    background-color: skyblue;
}
.footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.social {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.social__item+.social__item {
    margin-left: 20px;
}
.social__link {
    color: #fff;
}
.social__link:hover {
    color: #A90000;
}
@media only screen and (max-width: 800px) {
    .footer .container {
    padding: 20px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer .header__link {
    margin-bottom: 20px;
    padding: 0;
}
.f-nav {
    display: block;
}
.f-nav-list {
    display: block;
    margin-bottom: 20px;
}
.nav-list__link {
    text-align: center;
}
}.news {
    padding: 50px 0;
}
.news-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.news-list__item {
    max-width: 500px;
}
.news-list__link {
    text-decoration: none;
}
.news-list__img {
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-box-shadow: skyblue 0px 2px 8px 0px;
    box-shadow: skyblue 0px 2px 8px 0px;
}
.news-list__img:hover {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}
.news-list__heading {
    margin-bottom: 15px;
    font-size: 28px;
    color: #203A4C;
}
.news-list__time-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.news-list__time-icon {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 5px;
}
.news-list__time {
    font-size: 18px;
    color: #33323D;
}
@media only screen and (max-width: 555px) {
    .news-list__item {
    width: 90%}
.news-list__img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.news-list__heading {
    font-size: 22px;
}
}.news-mosque {
    padding: 50px 0;
}
.news-mosque__heading {
    margin-bottom: 20px;
    color: #203A4C;
    text-align: center;
}
.news-mosque__main-img {
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.news-mosque__desc {
    margin-bottom: 20px;
    color: #33323D;
}
.news-mosque-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: -20;
    padding: 0;
    list-style-type: none;
}
.news-mosque__item {
    margin: 20px;
}
.news-mosque__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.news-mosque__img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
@media only screen and (max-width: 768px) {
    .news-mosque__heading {
    font-size: 22px;
}
.news-mosque__desc {
    font-size: 18px;
}
}.portfolio {
    padding: 50px 0;
}
.portfolio__heading {
    margin-bottom: 30px;
    color: #203A4C;
    text-align: center;
}
.portfolio-list {
    margin: -25px;
    padding: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.portfolio-list__item {
    margin: 25px;
}
.portfolio-list__heading {
    margin-bottom: 25px;
    font-size: 35px;
    color: #203A4C;
    text-align: center;
}
.portfolio-list__desc {
    margin-bottom: 25px;
    color: #33323D;
    text-align: center;
}
.portfolio__site {
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.portfolio-list__link {
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 15px;
    font-size: 18px;
    color: #33323D;
    background-color: #5FB4A2;
    text-align: center;
    text-decoration: none;
    border: 1px solid #33323D;
    border-radius: 10px;
}
.portfolio-list__link:hover {
    color: #EAEAEB;
    border-color: #A90000;
    -webkit-box-shadow: rgba(255, 0, 0, 0.2) 0px 8px 24px;
    box-shadow: rgba(255, 0, 0, 0.2) 0px 8px 24px;
}
@media only screen and (max-width: 1090px) {
    .portfolio-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.portfolio-list__item {
    margin: 0 auto;
}
.portfolio-list__item+.portfolio-list__item {
    margin-top: 25px;
}
.portfolio__site {
    margin: 0 auto;
    display: block;
}
}@media only screen and (max-width: 550px) {
    .portfolio-list__heading {
    font-size: 30px;
}
.portfolio__site {
    width: 400px;
    height: 400px;
}
}@media only screen and (max-width: 450px) {
    .portfolio-list__heading {
    font-size: 25px;
}
.portfolio__site {
    width: 300px;
    height: 300px;
}
}.apps {
    padding: 50px 0;
}
.apps-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.apps-list__item+.apps-list__item {
    margin-top: 15px;
}
.apps-list__item__link {
    font-size: 22px;
    color: #203A4C;
    text-decoration: none;
}
.apps-list__item__link:hover {
    color: #A90000;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.counter {
    padding: 50px 0;
}
.counter-tasbeh {
    margin: 0 auto;
    padding: 10px;
    width: 200px;
    height: 350px;
    background-color: #7cfc00;
}
.form-counter-area {
    margin: 0 auto;
    width: 160px;
    height: 25px;
    background-color: #FAFAFA;
}
.form-counter__btn-reset {
    width: 25px;
    height: 25px;
    background-color: #fff;
}
.form-counter__btn {
    width: 25px;
    height: 25px;
    background-color: #A90000;
}
.random {
    padding: 50px 0;
}
.contact {
    padding: 50px 0;
}
.contact-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-width: 600px;
}
.contact-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.contact__heading {
    margin-bottom: 25px;
    color: #203A4C;
}
.contact-list__item+.contact-list__item {
    margin-top: 35px;
}
.contact-list__heading {
    margin: 0;
    padding: 0;
    font-size: 28px;
    color: #33323D;
}
.contact-list__link {
    font-size: 18px;
    color: #5FB4A2;
    text-decoration: none;
}
.contact-list__link:hover {
    color: #A90000;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.contact-list .social__link {
    color: #5FB4A2;
}
.contact-list .social__link:hover {
    color: #A90000;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}
@media only screen and (max-width: 500px) {
    .contact-list__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.contact-list__heading {
    margin-bottom: 25px;
    text-align: center;
    font-size: 25px;
}
}.audio-list__item {
    max-width: 400px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.audio-list__item+.audio-list__item {
    margin-top: 20px;
}
.audio-list__heading {
    font-size: 22px;
    color: #A90000;
}
.audio-list__audio {
    width: 100%;
    height: 50px;
    border-radius: 50px;
}
audio:hover, audio:focus, audio:active {
    -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
audio {
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-box-shadow: 2px 2px 4px 0px #006773;
    box-shadow: 2px 2px 4px 0px #006773;
    border-radius: 7px 7px 7px 7px;
}
.audio-box {
    position: relative;
    left: 0;
    display: none;
    width: 300px;
}
.audio-list__btn {
    margin-right: 10px;
    border: none;
    background-color: transparent;
}
.audio-list__img-play, .audio-list__img-stop {
    border-radius: 50%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.audio-list__img-stop {
    display: none;
}
.audio__img:hover, .audio__img:focus, .audio__img:active {
    -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.audio--open .audio-box {
    position: relative;
    display: block;
}
.audio--open .audio-list__img-play {
    display: none;
}
.audio--open .audio-list__heading {
    display: none;
}
.audio--open .audio-list__img-stop {
    display: block;
}
.answers .container {
    padding: 10px;
}
.answer-heading {
    text-align: center;
    color: #203A4C;
}
.answer-list {
    margin: -10px;
    padding: 0;
    list-style-type: none;
}
.answer-list__item {
    margin: 10px;
}
.answer-list__number {
    font-size: 22px;
    color: #A90000;
}
.answer-list__text {
    font-size: 22px;
    color: #5FB4A2;
}
.answer-list__link {
    text-decoration: none;
    color: #203A4C;
}
.answer-list__text-end {
    color: skyblue;
}
/*# sourceMappingURL=main.min.css.map */